# from https://github.com/puppetlabs/puppetlabs-dsc/blob/master/appveyor.yml
version: 1.1.x.{build}
skip_commits:
  message: /^\(?doc\)?.*/
clone_depth: 10
init:
- SET
- 'mkdir C:\ProgramData\PuppetLabs\code && exit 0'
- 'mkdir C:\ProgramData\PuppetLabs\facter && exit 0'
- 'mkdir C:\ProgramData\PuppetLabs\hiera && exit 0'
- 'mkdir C:\ProgramData\PuppetLabs\puppet\var && exit 0'
matrix:
  fast_finish: true

install:
- SET PATH=C:\Program Files\Puppet Labs\Puppet;C:\Ruby%RUBY_VER%\bin;%PATH%
- ps: |
    $msiPath = "$($env:USERPROFILE)\puppet-agent-5.4.0-x64.msi"
    (New-Object Net.WebClient).DownloadFile('https://downloads.puppetlabs.com/windows/puppet5/puppet-agent-5.4.0-x64.msi', $msiPath)
    cmd /c start /wait msiexec /i $msiPath /q /L* c:\install-puppet.log
    Get-Content -Path c:\install-puppet.log
    Get-ChildItem -Path "C:\Program Files"
    Get-ChildItem -Path "C:\Program Files\Puppet Labs"
    Get-ChildItem -Path "C:\Program Files\Puppet Labs\Puppet"
    puppet config print config
    puppet config print modulepath
    puppet module install puppetlabs-windows
    puppet module install autostructure-harden_windows_server
- type nul > C:\ProgramData\PuppetLabs\puppet\etc\hiera.yaml
- ps: |
    $msiPath = "$($env:USERPROFILE)\inspec-2.0.17-1-x64.msi"
    (New-Object Net.WebClient).DownloadFile('https://packages.chef.io/files/stable/inspec/2.0.17/windows/2016/inspec-2.0.17-1-x64.msi', $msiPath)
    cmd /c start /wait msiexec /i $msiPath /q

build: off

test_script:
- ps: |
    puppet apply -e "include ::harden_windows_server" --disable_warnings deprecations --verbose

after_test:
- cmd: c:\opscode\inspec\bin\inspec.bat exec https://github.com/dev-sec/windows-baseline/

notifications:
- provider: Email
  to:
  - nobody@nowhere.com
  on_build_success: false
  on_build_failure: false
  on_build_status_changed: false
